div {
    width: 200px;
    height: 200px;
    background-color: yellow;
    border: 1px solid black;
    animation-name: backgroundChange;
    animation-duration: 20s;
    }

  .rotated {
    transform: rotate(45deg);
    background-color: blue;
  }

  .scaled {
    transform: scale(0.7);
    background-color: red;
  }

  .moved {
    transform: translate(10px);
    background-color: green;
  }
  .skew{
    transform: skew(-38deg);
    background-color: blueviolet;
  }
  .matrix{
    transform: matrix(1,0,2,1.9,222.8,110);
    background-color: orangered;
  }
  button{
    width: 150px;
    height: 50px;
    font-size: 30px;
    background-color: darkseagreen;
    margin: 200px;
    transition-property: background-color;
    transition:background-color 3s,width 2s,height 2s,font-size 2s, cursor 2s,border 2s,transform 500s;
  }
  button:hover {
    background-color: blue;
    width: 300px;
    height: 75px;
    font-size: 25px;
    cursor: pointer;
    border:2px solid white;
    transform: rotate(500000deg) skew(20deg) scale(4);
  }

  @keyframes backgroundChange {
    0%{background-image:url(http://placekitten.com/200/200) ;}
    10%{background-image:url(http://placekitten.com/200/210) ;}
    20%{background-image:url(http://placekitten.com/200/220) ;}
    30%{background-image:url(http://placekitten.com/200/400) ;}
    40%{background-image:url(http://placekitten.com/210/200) ;}
    50%{background-image:url(http://placekitten.com/190/300) ;}
    60%{background-image:url(http://placekitten.com/254/195) ;}
    70%{background-image:url(http://placekitten.com/223/300) ;}
    80%{background-image:url(http://placekitten.com/202/300) ;}
    90%{background-image:url(http://placekitten.com/201/300) ;}
    100%{background-image:url(http://placekitten.com/240/260) ;}
  }