
*{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.box {
  color: #fff;
  font-size: 50px;
  text-align: center;
  text-shadow: 4px 4px 0 rgba(0,0,0,0.1);
  padding: 10px;
}

.box1 { background:#1abc9c;flex-grow: 10;flex-shrink: 5;flex-basis: 400px;} 
.box2 { background:#3498db;flex-grow: 1;flex-shrink: 1;flex-basis: 400px;}

.container {
  display: flex; 
}
body{
 margin: 0%;  
}