.flex{
    display: flex;
    flex-wrap: wrap;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.aqua{
    background-color: aqua;
}
.orange{
    background-color: orange;
}

.caja{
    width: 100%;
    height: 20vh;
}


@media (min-width: 992px){
    .caja {
        height: 25vh;
    }
    .blue, .green{
        width: 50%;
    }
}
