img {
    width: 150px;
}
header {
    margin-top: 20px;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    margin-bottom: 20px;
}
header h1 {
    top: 30px;
    padding: 20px;
    position: relative;
}
.contenedor {
    border-radius: 10%;
    border: 2px solid rgb(18, 150, 173);
    padding: 20px;
}
.profesor {
    display: none;
}
h1, h2, p {
    color: rgb(23, 34, 180);
    font-weight: bold;
}
button {
    border-radius: 50%;
    background-color: rgb(148, 231, 227);
    border: 2px solid rgb(25, 107, 184);
}
span {
    color: rgb(94, 86, 207);
}
select {
    width: 400px;
}
td {
    padding: 3px;
}
