#hamburguer {
    background: url(imagenes/madera-clara.jpg);
    background-size: 100%;
  }

  #fondo{
    background: url(imagenes/fondo-flores.jpg);
    background-size:10%;
}

.div .row{
  margin-right: -100px;
}

#gif-pikmin {
    width: 200px;
    margin-left: 100px;
    margin-top: -50px;
  }
h1{
  text-align: center;
  color: black;
}
  body{
    margin:0;
    overflow-x:hidden;
    }
    
    .footer{
    background: url(imagenes/madera.jpg);
    padding:15px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    background-size: 100%;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:white;
    font-size:0.8em;
    text-align: center
    }
    
    .footer .row a{
    text-decoration:none;
    color:white;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:green;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    padding:5%;
    }
    .footer .row ul li{
    margin:5px 10px;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }