/* Definición de la fuente personalizada para PikminFont */
@font-face {
  font-family: 'PikminFont';
  src: url(fuente/pikmin_by_theadorableoshawott-da33cfr.ttf) format('truetype');
}

/* Estilo para la barra de navegación (hamburguer) con fondo de madera */
#hamburguer {
    background: url(imagenes/madera-clara.jpg);
    background-size: 100%;
}

/* Estilo para el fondo de la página con imagen y fuente personalizada */
#fondo{
    background: url(imagenes/fondo-flores.jpg);
    background-size:10%;
    font-family: 'PikminFont', sans-serif;
}

/* Estilos generales para títulos y textos */
#titulo {
  font-size: 25px; /* Tamaño de fuente por defecto */
}

#texto {
  font-size: 14px; /* Tamaño de fuente por defecto */
}

/* Estilo de bordes redondeados para todas las divisiones (div) e imágenes */
div{
  border-radius: 1%;
}

img{
  border-radius: 1%;
}

label{
    color: wheat;
}

/* Estilos responsivos para diferentes tamaños de pantalla */
@media (min-width: 576px) {
  /* Pantallas pequeñas (sm) */
  #titulo {
      font-size: 44px;
  }

  #texto {
      font-size: 15px;
  }
  label{
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  /* Pantallas medianas (md) */
  #titulo {
      font-size: 29px;
  }

  #texto {
      font-size: 10px;
  }

  label{
    font-size: 10px;
  }
}

@media (min-width: 992px) {
  /* Pantallas grandes (lg) */
  #titulo {
      font-size: 39px;
  }

  #texto {
      font-size: 13px;
  }

  label{
    font-size: 13px;
  }
}

@media (min-width: 1200px) {
  /* Pantallas extra grandes (xl) */
  #titulo {
      font-size: 47px;
  }

  #texto {
      font-size: 16px;
  }

  label{
    font-size: 16px;
  }

}

@media (min-width: 1400px) {
  /* Pantallas extra extra grandes (xxl) */
  #titulo {
      font-size: 55px;
  }

  #texto {
      font-size: 19px;
  }

  label{
    font-size: 19px;
  }

}

/* Estilo específico para el gif de Pikmin */
#gif-pikmin {
    width: 200px;
    margin-left: 100px;
    margin-top: -20px;
}

/* Estilos generales del cuerpo de la página */
body{
    margin:0;
    padding: 0;
    overflow-x:hidden;
}

/* Estilos específicos para el contenido dentro de un contenedor */
.container {
    margin: 0 10px; /* Margen de 10px a cada lado */
}

.row {
    margin: 0 -5px; /* Compensar el padding predeterminado de las columnas */
}

.col-md-6,
.col-sm-12 {
    padding: 0 5px; /* Agregar padding para compensar el margin negativo de .row */
}

/* Estilos para el pie de página */
.footer{
    background: url(imagenes/madera-fondo.avif);
    padding:15px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    background-size: 100%;
}

.footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:white;
    font-size:0.8em;
    text-align: center
}

.footer .row a{
    text-decoration:none;
    color:white;
    transition:0.5s;
}

.footer .row a:hover{
    color:green;
}

.footer .row ul{
    width:100%;
}

.footer .row ul li{
    display:inline-block;
    margin:0px 30px;
}

.footer .row a i{
    font-size:2em;
    margin:0% 1%;
}

/* Estilos responsivos para el pie de página en pantallas pequeñas (max-width:720px) */
@media (max-width:720px){
    .footer{
        padding:5%;
    }
    .footer .row ul li{
        margin:5px 10px;
    }
    .footer .row a i{
        margin:0% 3%;
    }
}

/* Animaciones */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Estilos para las divisiones animadas */
.animated-div {
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

.animated-div:nth-child(even) {
    animation-name: slideInFromRight;
}

.animated-div:nth-child(odd) {
    animation-name: slideInFromLeft;
}

/* Estilos para las columnas dentro de un contenedor */
.container {
    display: flex;
    flex-wrap: wrap;
}

.col-md-6 {
    width: 50%;
}

/* Animación de imagen moviéndose de izquierda a derecha */
@keyframes moveLeft {
    0% { left: 100%; }
    100% { left: -100%; }
}

.moving-image {
    position: relative;
    animation: moveLeft 6s linear infinite;
}
