body, ul, figure{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    display: flex;
}
ul li{
    width: 48%;
}
ul li figure{
    padding: 5px;
    position: relative;
}
ul li figure:hover figcaption{
    display: block;
}
ul li figcaption{
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    background: rgba(0,0,0,.7);
    text-align: center;
    padding: 15px;
    font: 20px/30px Verdana;
    color: white;

}
img{
    width: 100%;
}
