body, div, figure{
    margin: 0;
    padding: 0;
}
div{
    list-style: none;
    display: flex;
}
div{
    width: 48%;
}
div figure{
    padding: 5px;
    position: relative;
}
div figure:hover figcaption{
    display: block;
}
div figcaption{
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    background: rgba(0,0,0,.7);
    text-align: center;
    padding: 15px;
    font: 20px/30px Verdana;
    color: white;

}

img{
    width: 100%;
}
