html {
  cursor: url(cursor/cursor.cur), auto;
}

a:hover {
  cursor: url(cursor/Link\ Click.cur), auto;
}

.margen {
  border-left: 1px solid #000; /* Bordes a la izquierda */
  border-right: 1px solid #000; /* Bordes a la derecha */
  padding-left: 15px; /* Ajuste de espacio interior a la izquierda para no ocultar el contenido bajo el borde */
  padding-right: 15px; /* Ajuste de espacio interior a la derecha para no ocultar el contenido bajo el borde */
}

.contenedor {
  position: relative;
  margin: 25px 0; /* 25px arriba y abajo, 0 a los lados */
}

.imagen {
  padding-left: 10px;
  border-left: 10px;
  width: 100%;
  transition: transform 0.5s ease; /* Agregamos una transición para suavizar el cambio de tamaño */
}

.texto {
  position: absolute;
  width: 90%; /* Ajustamos el ancho del texto para que ocupe lo mismo que la imagen */
  height: 100%;
  top: 0%;
  left: 0%;
  color: white;
  background-color: rgba(0, 0, 0, .8);
  display: none;
  text-align: center;
  transition: transform 0.5s ease; /* Agregamos una transición para suavizar el cambio de tamaño */
}

.div {
  border-color: aliceblue;
}

.contenedor:hover .imagen {
  transform: scale(1.2); /* Hacemos la imagen un 20% más grande al pasar el ratón */
}

.contenedor:hover .texto {
  display: block;
  transform: scale(1.2); /* Hacemos el texto un 20% más grande al pasar el ratón */
}

footer {
  text-align: center;
  padding: 1px;
}

@keyframes myAnim {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}
