/*Esto nos perite el poder modificar el cursor al momento de meternos en la pagina*/
html{
  cursor: url(cursor/cursor.cur),
  auto;
}

a:hover{
  cursor: url(cursor/Link\ Click.cur),
  auto;
}

.contenedor {
  position: relative;
  }
/*Adaptacion de la imagen*/
.imagen {
  padding-left: 10px;
  border-left: 10px;
  width: 100%;
}
/*Nos permite pasar el cursor sobre la imagen y que en esta aparezca texto*/
.texto {
  position: absolute;
  width: 92.4%;
  height: 100%;
  transform: translate(0%, -100%);
  color: white;
  background-color: rgba(0, 0, 0, .8);
  display: none;
  text-align: center;
}
/*Pequeño borde balnco en los div*/
.div{
  border-color: aliceblue;
}
  
.contenedor:hover .texto {
  display: block;
}

footer {
  text-align: center;
  padding: 1px;
}

