html {
  cursor: url(cursor/cursor.cur), auto;
}

a:hover {
  cursor: url(cursor/Link\ Click.cur), auto;
}

header{
  margin-top: -25px;
}

.contenedor {
  position: relative;
  margin: 35px 0; /* 25px arriba y abajo, 0 a los lados */
}

li{
  font-size: 20px;
  transition:font-size 1s, cursor 1s;
}
li:hover {
  font-size: 25px;
  cursor: pointer;
}

.imagen {
  padding-top: 21px;
  padding-left: 25px;
  padding-right: 25px;
  border-left: 10px;
  width: 100%;
  opacity: 1; /* Ajustamos la opacidad inicial */
  transition: opacity 0.5s, transform 0.5s ease, brightness 3s; /* Agregamos transición para opacidad, tamaño y brillo */
}

.contenedor:hover .imagen {
  transform: scale(1.17);
  filter: brightness(50%);
  opacity: 0.7; /* Hacemos que la imagen sea más opaca al pasar el ratón */
}

.texto {
  position: absolute;
  width: 90%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0;
  text-align: center;
  transition: opacity 2s ease;
  z-index: 2;
}

.contenedor:hover .texto {
  opacity: 1;
}


footer {
  text-align: center;
  padding: 1px;
}
.rotar-completo{
  transition:transform 1s;
}
.rotar-completo:hover {
  transform: rotate(360deg);
  transition: transform 1s; /* Ajusta la duración y el tipo de animación según tus preferencias */
}

.animated-div {
  opacity: 0;
  transform: translateY(100px); /* Mueve los div hacia abajo */
  transition: opacity 2s ease, transform21s ease;
  animation: fadeInUp 1s ease forwards; /* Utiliza la animación de @keyframes */
}

.logo-abajo {
  width: 190px; /* Ajusta el ancho de la imagen según tus preferencias */
  height: auto; /* Para mantener la proporción al cambiar el tamaño */
  transition: transform 1s ease, margin 1s ease; /* Agregamos transición para suavizar los cambios */
  animation: moveAndRotate 4s ease infinite, changeSize 6s ease infinite; /* Aplicamos las animaciones definidas por @keyframes */
}

@keyframes moveAndRotate {
  0% {
    transform: translate(0, 0);
    margin: 100px;
  }
  25% {
    transform: translate(100px, 0px);
    margin: 100px;
  }
  50% {
    transform: translate(100px, 100px);
    margin: 100px;
  }
  75% {
    transform: translate(100px, 100px);
    margin: 100px;
  }
  100% {
    transform: translate(0, 0);
    margin: 100px;
  }
}

@keyframes changeSize {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0.8);
  }
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes myAnim {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}
