@for $i from 0 through 5 {
    $value: $i / 3;
  
    .p-#{$i} {
      padding: #{$value}rem;
    }
    .px-#{$i} {
      padding-left: #{$value}rem;
      padding-right: #{$value}rem;
    }
    .py-#{$i} {
      padding-top: #{$value}rem;
      padding-bottom: #{$value}rem;
    }
    .pt-#{$i} {
      padding-top: #{$value}rem;
    }
    .pr-#{$i} {
      padding-right: #{$value}rem;
    }
    .pb-#{$i} {
      padding-bottom: #{$value}rem;
    }
    .pl-#{$i} {
      padding-left: #{$value}rem;
    }
  
    .m-#{$i} {
      margin: #{$value}rem;
    }
    .mx-#{$i} {
      margin-left: #{$value}rem;
      margin-right: #{$value}rem;
    }
    .my-#{$i} {
      margin-top: #{$value}rem;
      margin-bottom: #{$value}rem;
    }
    .mt-#{$i} {
      margin-top: #{$value}rem;
    }
    .mr-#{$i} {
      margin-right: #{$value}rem;
    }
    .mb-#{$i} {
      margin-bottom: #{$value}rem;
    }
    .ml-#{$i} {
      margin-left: #{$value}rem;
    }
  }
  