
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Geneva, sans-serif; /* Font stack with fallback */
    color: #000;
    background-color: #ccc;
  }
  
  article {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
  }
  
  h1 {
    padding-bottom: 20px; /* Adding padding below the main heading */
  }
  
  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  img {
    width: 225px;
    height: 225px;
    margin-bottom: 20px;
  }
  