$color-map: (
  info: rgb(250, 228, 183)
);

@each $key, $color in $color-map {
  @for $i from 0 through 10 {
    .bg-#{$key}-#{$i * 10} {
      background-color: rgba($color, $i * 1 / 10);
    }
  }
}
