$small:whit 576px;
$medium: whit 768px;
$colorextrasmall:rgb(139, 0, 0);
$colorsmall:rgb(0, 0, 139);
$colormedium:rgb(0, 100, 0);
$backgroundcolorextrasmall:rgb(218, 255, 255);
$backgroundcolorsmall:rgb(255, 255, 218);
$backgroundcolormedium:rgb(255, 255, 255);
@if(whit>=768px){

}
@else if(whit>=576px){

}
@else{

}
