
@keyframes PezPequeño {
    from {
      left: 1000px;
    }
    to {
      left: -200px; 
    }
  }
 
  
  @keyframes TiburonRapido {
    from {
      left: 1000px;
    }
    to {
      left: -400px; 
    }
  }

  @keyframes Burbuja {
    from {
      top: 1000px;
    }
    to {
      top: -400px; 
    }
  }
  
  .pez {
    position: relative;
    background-image: url(glu\ glu.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    animation: PezPequeño 5s linear infinite; 
  }
  
  .tiburon {
    position: relative;
    background-image: url(tiburao.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
    animation: TiburonRapido 4s linear infinite;
  }

.burbuja {
    width: 20px;
    height: 20px;
    background-image: url(burbuja.png);
    bottom: 0;
    animation-fill-mode: both;
  }
  
  @keyframes burbujaAnim1 {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-1000px);
      opacity: 0;
    }
  }
  
  @keyframes burbujaAnim2 {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-800px);
      opacity: 0;
    }
  }
  
  @keyframes burbujaAnim3 {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-1200px);
      opacity: 0;
    }
  }
  